html::-webkit-scrollbar{
    width:0px;
}
:root{
    --sec-color:linear-gradient(to right bottom , rgb(71, 0, 129) 10% 10% , rgb(0, 0, 245) 90% 90%);
    --nav-color:linear-gradient(to bottom right , rgba(40, 65, 204, 0.534) , rgba(30, 30, 150, 0.575));;
    --btn:linear-gradient(to bottom ,rgb(88, 88, 252), rgb(41, 41, 165));
    --btn-hover:linear-gradient(to bottom , rgb(173, 50, 255) , rgb(22, 22, 238));
    --dark-btn:linear-gradient(to bottom , rgb(34, 75, 255) , rgb(106, 0, 177));
    --video:linear-gradient(to bottom right , rgb(86, 255, 241) 10% 10%, rgb(88, 88, 236) 90% 90%);
}
*::selection{
    background-color: yellow;
    color:black;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    direction: rtl;
    color:white;
}
a{
    text-decoration: none;
    color:white;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    position:sticky;
    top:0;
    z-index:99;
    background:var(--nav-color);
}

nav span img{
    width:50px;
    height: 50px;
    border-radius: 50%;
}
ul{
    display:flex;
    gap:10px;
    overflow: hidden;
}
li{
    list-style: none;
    cursor:pointer;
    font-size:20px;
    padding:10px;
    transition:500ms;
    color:white;
}
li:hover , li:active , li.li-active{
    background-color:blue;
    scale:1.2;
}
section{
    display:none;
    background:var(--sec-color);
    overflow-x: hidden;
}
.sec-active{
    display:flex;
}
#home{
    flex-direction: column;
    overflow-x:hidden;
    padding-bottom:40px;
}
#home div:not(.home-header){
    padding:10px;
}

.home-header{
    width:100dvw;
    position: relative;
}
.home-header img{
    width:100%;
    height: 40dvh;
    object-fit: cover;
}
.nav-icon{
    background-color: white;
    flex-direction: column;
    justify-content: center;
    padding:5px;
    width:fit-content;
    gap:5px;
    display:none;
    cursor:pointer;
    border-radius: 50%;
}
.nav-icon span{
    background-color: black;
    width:30px;
    height: 4px;
}
ul[expande =true]{
    /* padding:14px; */
    /* height: fit-content; */
    animation-name: expand;
    /* animation-duration: 2s; */
    animation-fill-mode: forwards;
}
ul[expanded=false]{
    /* height: 50px; */
    animation-name: unexpand;
    /* animation-duration: 2s; */
    animation-fill-mode: forwards;
}

@keyframes expand {
    0% { height: 60px; }
    100% { height: 380px; }
  }
@keyframes unexpand {
    0% { height: 380px; }
    100% { height: 60px; }
  }
.home-body1{
    text-align: center;
}
.home-body1 h1{
    color:rgb(237, 255, 156);
    font-size:40px;
}
.home-body1 h4{
    color:rgb(245, 255, 155)
}
.home-body1 h2{
    color:yellow;
}
.home-body1 a{
    background-color: blue;
    color:white;
    padding: 10px 30px;
    text-decoration: none;
    border:none;
    width:30%;
    font-size:20px;
    cursor: pointer;
}
.home-body1 a:hover{
    background:var(--btn-hover);
    color:white;
}
.Aug-sec{
    text-align: center;
}
.Aug-sec h1{
    color:yellow;
    font-size:35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.Aug-sec span{
    color:white;
    font-size:18px;
}
.Aug-sec button{
    background-color: blue;
    width: 180px;
    padding:10px;
    cursor: pointer;
    border:none;
    transition:300ms;
}
.Aug-sec button:hover{
    background:var(--dark-btn);
    scale:1.2;
}
.Aug-sec button a{
    color:white;
    font-size:18px;
    text-decoration: none;
}
#about{
    justify-content: space-around;
    align-items: start;
    color:white;
    padding-bottom:70px;
}
#about div{
    margin-top:40px;
    font-size:20px;
    padding:20px;
    line-height: 1.3;
}
#about .right{
    font-size:24px;
}
#about .left{
    color:yellow;
    line-height: 2;
}
#files{
    flex-direction: column;
    text-align: center;
    color:white;
}
#files h1{
    margin-top:20px;
    color:yellow;
    font-size:30px;
}
#files .first .term2{
    display:flex;
    flex-direction: column;
    gap:20px;
    padding:40px;
}
#files .first .term2 button{
    /* padding:20px; */
    background: var(--btn);
    border:none;
    cursor: pointer;
}
#files .first .term2 button a:hover{
    background:linear-gradient(to top ,rgb(62, 62, 255), rgb(22, 22, 65));
}
.term2 button a{
    display:block;
    padding:20px;
    font-size:20px;
}

footer{
    background:var(--sec-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px;
    gap:30px;
}
footer h4{
    color:white;
    font-size:20px;
    text-align: center;
}
.media-app span a svg{
    width:40px;
    height: 40px;
}
.media-app{
    display:flex;
    gap:30px;
}

#courses{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap:20px;
    padding:40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#courses a{
    margin-top:40px;
    display: flex;
    flex-direction: column;
    background:var(--video);
    width:340px;
    height: 280px;
    gap:20px;
    position: relative;
}
#courses a:hover::before{
    content:"Watch Now";
    width:100%;
    height: 100%;
    position: absolute;
    background-color: rgba(60, 72, 87, 0.664);
    font-size:25px;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
#courses a span{
    font-size:13px;
    font-weight: bold;
}
#contact form{
    display:flex;
    flex-direction: column;
    gap:20px;
    width:100dvw;
    justify-content: center;
    padding:70px;
}
#contact form input{
    font-size:25px;
    padding:10px 50px;
    background-color: rgb(9, 2, 107);
    border:none;
}
#contact form textarea{
    font-size:20px;
    padding:10px;
    background-color: rgb(2, 0, 141);
}
#contact form button{
    padding:20px;
    font-size:20px;
    background-color:blue;
    color:white;
    cursor:pointer;
    border:none;
}
#contact form button:hover{
    background-color:rgb(15, 0, 151);
}
#contact form input[type=reset]{
    cursor:pointer;
}
#contact form input:hover ,#contact form input:focus{
    background-color:blue;
    color:white;
    outline:none;
}
#contact form input:valid{
    border:5px solid green;
    color:white;
}
#contact form input:invalid{
    border:5px solid rgb(216, 44, 44);
    color:white;
}
#learning{
    flex-direction: column;
}
.path div{
    width: 90%;
    margin: 5px auto;
    background-color:black;
    padding:20px;
    border-radius: 20px;
}
#learning div div h1{
    color:white;
    font-size:30px;
}
#learning div div h1 p{
    font-size:12px;
    color:rgb(255, 255, 128);
}
.path .head{
    background-color: red;
}
.path:not(:first-child){
    margin-top:140px;
}
/* finish the style for desktop and start mobile style */
@media screen and (max-width:480px) {
    .fundumental{
        padding:10px;
    }
    .fundumental div{
        width: 100%;
    }
    nav ul{
        display:flex;
        flex-direction: column-reverse;
        padding:16px;
    }
    .nav-icon{
        display:flex;
    }
    #about{
        flex-direction: column;
    }
    #about .left{
        margin-top: 20px;
        padding:8px;
    }
    .home-header div{
        color:blue;
        background-color:rgba(255, 255, 255, 0.384);
        width:100%;
        height: 100%;
        position: absolute;
        translate: 20% -50%;
        top:50%;
        right:0;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:40px !important;
    }
    #courses{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    #contact form{
        padding:5px;
    }
    .cub{
        scale:.5;
    }
    .media-app{
        display:flex;
        justify-content: space-around;
        width:100dvw;
        gap:0;
    }
}